<a href="https://colab.research.google.com/github/azizibenhadjabdallah-cloud/php-docs-hello-world/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

customers = pd.read_csv("/content/sample_data/customer.csv")
products = pd.read_csv("/content/sample_data/products.csv")
orders = pd.read_csv("/content/sample_data/orders.csv")
order_items = pd.read_csv("/content/sample_data/orderitems.csv")

In [3]:
products[products["stock"] < 0]

   product_id   category    brand       product_name  unit_price  stock
10       P011  Accessory  TechPro  TechPro USB-C Hub        39.9     -5

In [4]:
products[products["unit_price"] <= 0]
order_items[order_items["unit_price"] <= 0]

  order_item_id order_id product_id  quantity  unit_price
8         OI009     O005       P013         2         0.0

In [5]:
order_items[order_items["quantity"] <= 0]

   order_item_id order_id product_id  quantity  unit_price
11         OI012     O007       P009        -1        29.9

In [6]:
valid_categories = ["Laptop","Smartphone","Tablet","TV","Accessory",
                    "Headphones","Console","Smartwatch","Camera"]
products[~products["category"].isin(valid_categories)]

   product_id category brand         product_name  unit_price  stock
14       P015  Unknown  Acme  Acme Mystery Gadget        59.9     10

In [7]:
orders["order_date"] = pd.to_datetime(orders["order_date"])
orders[orders["order_date"] > "2025-01-01"]

  order_id customer_id order_date order_status payment_method  order_total
9     O010        C090 2030-01-01    completed           card        179.0

In [8]:
set_customers = set(customers["customer_id"])
orders[~orders["customer_id"].isin(set_customers)]

   order_id customer_id order_date order_status payment_method  order_total
13     O014        C999 2024-03-22    completed           card        89.90
20     O021        C205 2024-04-22    completed           card       799.99
21     O022        C210 2024-04-25    completed         paypal       249.90
22     O023        C215 2024-04-28      shipped           card       699.00
23     O024        C220 2024-05-01    completed           card       349.90
24     O025        C225 2024-05-03    completed           card      1199.00
25     O026        C230 2024-05-06      pending         paypal        89.90
26     O027        C235 2024-05-08    completed           card       159.00
27     O028        C240 2024-05-10    completed           card       999.00
28     O029        C245 2024-05-12    completed         paypal        49.90
29     O030        C250 2024-05-15    completed           card       299.00
30     O031        C255 2024-05-18    completed           card       629.00
31     O032        C260 2024-05-20      shipped           card       379.90
32     O033        C265 2024-05-22    completed         paypal       899.00
33     O034        C270 2024-05-25    completed           card       199.90
34     O035        C275 2024-05-28    completed           card       549.00
35     O036        C280 2024-06-01    completed         paypal       129.90
36     O037        C285 2024-06-03      pending           card       499.00
37     O038        C290 2024-06-05    completed           card        39.90
38     O039        C295 2024-06-08    completed           card       749.00
39     O040        C300 2024-06-10    completed         paypal       899.99
40     O041        C305 2024-06-12    completed           card       179.90
41     O042        C310 2024-06-15    completed           card        59.90
42     O043        C315 2024-06-18    completed         paypal      1099.00
43     O044        C320 2024-06-20      shipped           card       449.90
44     O045        C325 2024-06-22    completed           card       299.90
45     O046        C330 2024-06-25    completed         paypal       649.00
46     O047        C335 2024-06-27      pending           card        89.90
47     O048        C340 2024-06-29    completed           card       499.90
48     O049        C345 2024-07-02    completed         paypal       159.90
49     O050        C350 2024-07-05    completed           card       799.00

In [9]:
set_products = set(products["product_id"])
order_items[~order_items["product_id"].isin(set_products)]

   order_item_id order_id product_id  quantity  unit_price
14         OI015     O009       P999         1        89.9

In [11]:
products.loc[products["stock"] < 0, "stock"] = 0

In [12]:
valid_price_mask = products["unit_price"] > 0
median_price = products.loc[valid_price_mask, "unit_price"].median()

In [13]:
products.loc[~valid_price_mask, "unit_price"] = median_price

In [14]:
products.loc[~products["category"].isin(valid_categories), "category"] = "Accessory"
products["category"] = products["category"].fillna("Accessory")

In [15]:
orders_clean = orders[orders["order_total"] > 0].copy()

In [16]:
orders_clean["order_date"] = pd.to_datetime(orders_clean["order_date"], errors="coerce")

max_allowed_date = pd.Timestamp("2025-01-01")

In [17]:
future_mask = orders_clean["order_date"] > max_allowed_date
orders_clean.loc[future_mask, "order_date"] = max_allowed_date

In [18]:
order_items_clean = order_items[order_items["quantity"] > 0].copy()

In [25]:
valid_products = set(products["product_id"])
order_items_clean = order_items_clean[order_items_clean["product_id"].isin(valid_products)]

In [26]:
valid_orders = set(orders_clean["order_id"])
order_items_clean = order_items_clean[order_items_clean["order_id"].isin(valid_orders)]

In [27]:
order_items_clean["line_total"] = order_items_clean["quantity"] * order_items_clean["unit_price"]

In [28]:
totals = (order_items_clean
          .groupby("order_id")["line_total"]
          .sum()
          .reset_index()
          .rename(columns={"line_total":"order_total_calc"}))

orders_clean = orders_clean.merge(totals, on="order_id", how="left")

In [29]:
orders_clean["order_total"] = orders_clean["order_total_calc"].fillna(orders_clean["order_total"])
orders_clean = orders_clean.drop(columns=["order_total_calc"])

In [30]:
products.to_csv("products_clean.csv", index=False)
orders_clean.to_csv("orders_clean.csv", index=False)
order_items_clean.to_csv("order_items_clean.csv", index=False)

In [32]:
customers["gender"] = customers["gender"].str.strip()

valid_gender = ["Male", "Female"]
customers.loc[~customers["gender"].isin(valid_gender), "gender"] = "Unknown"
customers["gender"] = customers["gender"].fillna("Unknown")

In [39]:
customers["birthdate"] = pd.to_datetime(customers["birthdate"], errors="coerce")


customers = customers[
    (customers["birthdate"] >= "1940-01-01") &
    (customers["birthdate"] <= "2010-12-31")
]

In [40]:
customers_clean = customers.copy()
customers_clean = customers_clean.drop(columns=["phone"])
customers_clean = customers_clean.rename(columns={"phone_clean": "phone"})

customers_clean.to_csv("customers_clean.csv", index=False)

In [41]:
import pandas as pd

customers = pd.read_csv("customers_clean.csv")
products  = pd.read_csv("products_clean.csv")
orders    = pd.read_csv("orders_clean.csv")
order_items = pd.read_csv("order_items_clean.csv")

In [42]:
dim_customer = customers.copy()


dim_customer.insert(0, "customer_key", range(1, len(dim_customer) + 1))

dim_customer = dim_customer[["customer_key", "customer_id", "gender", "birthdate", "email"]]

dim_customer.to_csv("DimCustomer.csv", index=False)

In [43]:
dim_product = products.copy()
dim_product.insert(0, "product_key", range(1, len(dim_product) + 1))

dim_product = dim_product[[
    "product_key", "product_id", "category", "brand", "product_name", "unit_price"
]]

dim_product.to_csv("DimProduct.csv", index=False)

In [44]:
orders["order_date"] = pd.to_datetime(orders["order_date"], errors="coerce")

unique_dates = orders["order_date"].dropna().drop_duplicates().sort_values()

dim_date = pd.DataFrame({"date": unique_dates})
dim_date.insert(0, "date_key", range(1, len(dim_date) + 1))
dim_date["year"] = dim_date["date"].dt.year
dim_date["month"] = dim_date["date"].dt.month
dim_date["day"] = dim_date["date"].dt.day

dim_date.to_csv("DimDate.csv", index=False)